.responsive-docs-container.docs-container {
  padding-top: 25px;

  .responsive-side-nav {
    width: 300px;
    position: static;
    overflow-y: auto;

    &.affix-top {
      position: static;
      top: 182px;
    }

    &.affix {
      position: fixed;
      top: 15px;
    }

    &.affix-bottom {
      position: fixed;
      top: 15px !important;
    }

    //width: 100%;

    .nested-menu {
      padding-top: 0;
      padding-left: 0;
    }
  }

  main {
    flex: 1;
    margin-left: 0;
    padding-top: 0;
    overflow: auto;
  }
}
