body.responsive-docs {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: static;
  overflow: hidden;
}

.responsive-docs-container.docs-container {
  min-height: auto;
  flex: 1;
  display: flex;
  flex-direction: row;

  padding-top: 25px;

  .responsive-side-nav {
    width: 300px;
    padding-left: 25px;
    position: static;
    overflow-y: auto;
    /*
    &.affix-top {
      top: 182px;
    }

    &.affix {
      position: fixed;
      top: 15px;
    }
    */

    //width: 100%;

    .nested-menu {
      padding-top: 0;
      padding-left: 0;
    }
  }

  main {
    flex: 1;
    margin-left: 0;
    padding-top: 0;
    overflow: auto;
  }
}
