.responsive-docs-container.docs-container {
  padding-top: 25px;

  .responsive-side-nav {
    position: static;

    &.affix-top {
      position: static;
    }

    &.affix {
      position: fixed;
      top: 15px;
    }

    //width: 100%;

    .nested-menu {
      padding-top: 0;
      padding-left: 0;
    }
  }

  main {
    padding-top: 0;
    overflow: auto;
  }
}
