/**
 * The Sub Header sits under the main navigation to display context-specific
 * page information, widgets, and links.
 * September 2017
 */
.sub-header {
  padding: 20px 0;

  .container {
    display: flex;
    flex-direction: row;
  }

  .sub-header-title {
    margin: 0;
    width: 275px;
    font-size: 14px;
    font-weight: 600;
  }
  .sub-header-widget {
    flex: 1;
  }
  .sub-header-links {
    a {
      color: #5E6779;
      margin-left: 10px;
      font-weight: 500;
      font-size: 13px;
      &:hover {
        color: #B5BCC9;
      }
    }
  }
}
