<ul class="nested-menu">
  <li class="active">
    <ul>
      <li class="{% if page.category == 'pro-basics' %}active{% endif %}" >
        <a ng-click="showIntro = !showIntro" class="pro-intro-link">Introduction</a>
        <ul ng-show="showIntro" ng-cloak {% if page.category == 'pro-basics' %}ng-init="showIntro = true"{% endif %}>
          <li>
            <a href="/docs/pro/basics/getting-started/">Quickstart</a>
          </li>
          <li>
            <a href="/docs/pro/basics/git/">Git Workflow</a>
            <ul>
              <li>
                <a href="/docs/pro/basics/git/#installing-git">Installing Git</a>
              </li>
              <li>
                <a href="/docs/pro/basics/git/#adding-your-existing-repository">Adding your Existing Repository</a>
              </li>
              <li>
                <a href="/docs/pro/basics/git/#pushing-new-builds">Pushing New Builds</a>
              </li>
              <li>
                <a href="/docs/pro/basics/git/#working-with-branches">Working with Branches</a>
              </li>
              <li>
                <a href="/docs/pro/basics/git/#working-with-other-team-members">Working w/ other Team Members</a>
              </li>
              <li>
                <a href="/docs/pro/basics/git/#ssh-keys">Adding SSH Keys</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="{% if page.category == 'pro-view' %}active{% endif %}" >
        <a ng-click="showView = !showView" class="pro-view-link">View</a>
        <ul ng-show="showView" ng-cloak {% if page.category == 'view' %}ng-init="showView = true"{% endif %}>
          <li>
            <a href="/docs/pro/view/#install">Install Ionic View</a>
          </li>
          <li>
            <a href="/docs/pro/view/#using-channels-with-ionic-view">Using Channels with View</a>
          </li>
          <li>
            <a href="/docs/pro/view/#sharing">Inviting Private Testers</a>
          </li>
          <li>
            <a href="/docs/pro/view/#sharing">Sharing Publicly</a>
          </li>
        </ul>
      </li>
      <li class="{% if page.category == 'pro-deploy' %}active{% endif %}">
        <a ng-click="showDeploy = !showDeploy" class="pro-deploy-link">Deploy</a>
        <ul ng-show="showDeploy" ng-cloak {% if page.category == 'pro-live-deploy' %}ng-init="showDeploy = true"{% endif %}>
          <li>
            <a href="/docs/pro/deploy/setup.html#installation">Installation</a>
          </li>
          <li>
            <a href="/docs/pro/deploy/setup.html#usage">Pushing Deploys</a>
          </li>
          <li>
            <a href="/docs/pro/deploy/plugin-api.html">Plugin API</a>
          </li>
        </ul>
      </li>
      <li class="{% if page.category == 'pro-package' %}active{% endif %}" >
        <a ng-click="showPackage = !showPackage" class="pro-package-link">Package</a>
        <ul ng-show="showPackage" ng-cloak {% if page.id == 'pro-native-builds' %}ng-init="showPackage = true"{% endif %}>
          <li>
            <a href="/docs/pro/package/profiles.html">Generating Credentials</a>
          </li>
          <li>
            <a href="/docs/pro/package/profiles.html#creating-security-profiles">Adding Credentials</a>
          </li>
          <li>
            <a href="/docs/pro/package/index.html#performing-a-build">Performing Builds</a>
          </li>
        </ul>
      </li>
      <li class="{% if page.category == 'pro-monitoring' %}active{% endif %}" >
        <a ng-click="showMonitoring = !showMonitoring" class="pro-monitoring-link">Monitoring</a>
        <ul ng-show="showMonitoring" ng-cloak {% if page.id == 'pro-error-monitoring' %}ng-init="showMonitoring = true"{% endif %}>
          <li>
            <a href="/docs/pro/monitoring/#install">Installation</a>
          </li>
          <li>
            <a href="/docs/pro/monitoring/#source-maps">Adding SourceMaps</a>
          </li>
          <li>
            <a href="/docs/pro/monitoring/#releases">Releases</a>
          </li>
        </ul>
      </li>
      <li class="{% if page.category == 'pro-advanced' %}active{% endif %}" >
        <a ng-click="showAdvanced = !showAdvanced" class="pro-advanced-link">Advanced</a>
        <ul ng-show="showAdvanced" ng-cloak {% if page.category == 'pro-advanced' %}ng-init="showAdvanced = true"{% endif %}>
          <li>
            <a href="/docs/pro/migration/">Cloud Migration</a>
            <ul>
              <li>
                <a href="/docs/pro/migration/#live-updates">Live updates</a>
              </li>
              <li>
                <a href="/docs/pro/migration/#package">Package</a>
              </li>
              <li>
                <a href="/docs/pro/migration/#view">Ionic View Legacy</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <!--
      <li class="{% if page.id == 'pro-pwa' %}active{% endif %}">
        <a href="/docs/pro/pwa-hosting.html">Progressive Web App Hosting</a>
      </li>
    -->
    </ul>
  </li>
</ul>
